.footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &__lotties {
    grid-column-end: span 6;
  }

  &__item {
    &-1 {
      grid-column-end: span 3;
      grid-row-end: span 2;
    }

    &-2 {
      grid-column-end: span 3;
    }

    &-3 {
      grid-column-end: span 3;
    }
  }

  &__logo {
    grid-column-end: span 6;
  }

  &__list_item {
    margin-left: 1rem;

    &:nth-of-type(7) {
      margin-top: auto;
    }

    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9) {
      margin-left: 0;
    }
  }
}
