.customers {
  &__container {
    display: flex;
    will-change: transform;
    animation: scroll 10s linear infinite;
    animation-play-state: running;
  }
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-99.99%, 0, 0);
  }
}
