.customers {
  &__container {
    display: flex;
    will-change: transform;
    animation: scroll 8s linear infinite;
    animation-play-state: running;
    width: calc(208px * 18);
  }
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-208px * 9), 0, 0);
  }
}
