.hero {
  &__video_container {
    // will-change: border-radius;
    // transition: border-radius 2s ease-in-out;
    // transition-delay: 0;
    max-height: 55rem;

    video {
      object-position: 30%;
    }
  }

  &__grid {
    align-content: end;
    padding-bottom: 4rem;

    &_content {
      @media screen and (max-width: 800px) {
        grid-column: 2 / span 10;
      }
      grid-column: 8 / span 4;
    }
  }
}
